body {
    background-image: url("me.jpg");
    background-image:
    background-size: cover;
    text-align: center;
}

.cor ul li{
     list-style: none;
     display: inline-block;
     margin: 0 20px;
     position: relative;
}
.cor ul li a{
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
}
.cor ul li::after{
        content: '';
        height: 3px;
        width: 0;
        background:#2b13e4 ;
        position: absolute;
        letter-spacing: 0;
        bottom: -10px;
        transition: 0.5s;

{button
    text-align: center;
    width: 200px;
    padding: 20px 0;
    margin: 10px 10px;
    font-weight: bold;
    font-size: 20px;
    border: 30px solid skyblue;
    background: transparent;
    color:aliceblue ;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.killer{
    text-align: center;
}
h1 {
    color: darkred;

}

img {
    border-radius: 30%;
}
