body {
    background-image: url("me.jpg");
    background-image:
    background-size: cover;
    text-align: center;
}

li {

    color: whitesmoke;
    display: inline-block;
    margin: 3%
}

.killer{
    text-align: center;
}
h1 {
    color: darkred;

}

img {
    border-radius: 30%;
}
